/* ====Layout==== */
* {
    font-family: "Raleway" , sans-serif;
    /* font-size: 16px; */
}

body {
    margin: auto 150px;
}

/* ====Nav==== */
nav {
    /* display: flex;
    justify-content: flex-start;
    align-content: center; */
}

a {
    text-transform: uppercase; 
    text-decoration-line: none;
    padding: 5px 40px;
    color: inherit;
}

.headNav {
    text-decoration: none;
    color: #6f8faa;
    font-weight: 800;
}

.headNav, .footNav{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: .1em;
}

.footNav {
    font-size: 30px;
}

.headNav, .issueNav, .footNav {
    /* font-family: "Raleway" , sans-serif;
    font-weight: 600; */
}

.issueNav {
    color: #6f8faa;
    font-weight: 500;
}

/* ====Headers==== */
header {
    font-size: 1.4em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 400;
    color: #ffffff;
    background-image: url(../images/blog_header_bg.jpg);
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
}

h1 {
    padding-top: 135px;
}

h2 {
    text-transform: uppercase;
    font-weight: 700;
}

h3 {
    font-weight: 700;
}

/* ====Main===== */
.articleImg {
    width: 100%;
}

p {
    line-height: 1.618em;
    font-family: "Lato", sans-serif;
    font-size: 1em;
}

/* ====Footer==== */
footer {
    text-align: center;
    background-color: skyblue;
    padding-bottom: 1.5em;
}

.issueNav li a {
    margin-left: -30px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
}