/* ====Layout==== */
* {
    font-family: "Verdana" , sans-serif;
}

/* ====Nav==== */
nav {
    /* display: flex;
    justify-content: flex-start;
    align-content: center; */
}

a {
    text-transform: uppercase; 
    text-decoration-line: none;
    padding: 5px 40px;
    color: inherit;
}

.headNav {
    text-decoration: none;
    color: #6f8faa;
}

.headNav, .footNav{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    letter-spacing: .1em;
}

.headNav, .issueNav, .footNav {
    /* font-family: "Raleway" , sans-serif;
    font-weight: 600; */
}

.issueNav {
    color: #6f8faa;
    font-weight: 500;
}

/* ====Headers==== */
header {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    color: #4d4949;
}

h2 {
    text-transform: uppercase;
}

h3 {

}

/* ====Main===== */
.articleImg {
    width: 100%;
}

p {
    line-height: 1.3em;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
}

/* ====Footer==== */
footer {
    text-align: center;
    background-color: skyblue;
    padding-bottom: 1.5em;
}